# Dependencies
node_modules/

# electron-builder output
release/
dist/

# App logs
electron/logs/

# Env / secrets
.env
.env.*

# Editor / OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store

# npm
npm-debug.log*
